{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Studentable.net",
    "contact": {
      "email": "by09115@outlook.kr"
    },
    "x-logo": {
      "url": "https://avatars1.githubusercontent.com/u/52960074?s=200&v=4"
    },
    "description": "studentable.net의 RESTful API Docs입니다.\n# Notice\n문서를 읽다가 애매하거나 잘못된 정보가 있으면 김재훈에게 문의하세요.\n"
  },
  "tags": [
    {
      "name": "Meal",
      "description": "급식 정보"
    },
    {
      "name": "TimeTableManager",
      "description": "시간표 관리자 관련"
    },
    {
      "name": "TimeTable",
      "description": "시간표 관련"
    }
  ],
  "servers": [
    {
      "url": "http://studentable.jaehoon.kim/api/v1"
    }
  ],
  "paths": {
    "/meal": {
      "get": {
        "tags": [
          "Meal"
        ],
        "summary": "급식 조회",
        "description": "급식 정보를 조회합니다.\n",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "날짜",
            "schema": {
              "type": "string",
              "example": "2019-09-26"
            }
          },
          {
            "name": "school_id",
            "in": "query",
            "description": "학교 코드",
            "schema": {
              "type": "string",
              "example": "G000000170"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meal"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 형식의 학교 코드 혹은 날짜 형식"
          },
          "404": {
            "description": "해당 정보를 찾을 수 없음"
          }
        }
      }
    },
    "/manager/auth": {
      "post": {
        "tags": [
          "TimeTableManager"
        ],
        "summary": "관리자 로그인",
        "description": "관리자의 access 토큰과 refresh 토큰을 발급받습니다.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Login succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access": {
                      "type": "string",
                      "example": "Th12312isis.Tr123123uly.Accessto123123ken"
                    },
                    "refresh": {
                      "type": "string",
                      "example": "2oiejijdoia.12qweiod9hxjio.oisdmnjdfls"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials"
          }
        }
      },
      "delete": {
        "tags": [
          "TimeTableManager"
        ],
        "summary": "로그아웃",
        "description": "리프레시 토큰 파기",
        "security": [
          {
            "RefreshJSONWebTokenAuthentication": []
          }
        ],
        "responses": {
          "204": {
            "description": "Logout succeed"
          }
        }
      },
      "patch": {
        "tags": [
          "TimeTableManager"
        ],
        "summary": "토큰 리프레시",
        "description": "관리자의 액세스 토큰을 재발급합니다.",
        "security": [
          {
            "RefreshJSONWebTokenAuthentication": []
          }
        ],
        "responses": {
          "201": {
            "description": "재발급 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access": {
                      "type": "string",
                      "example": "Th12312isis.Tr123123uly.Accessto123123ken"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid refresh token"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "JSONWebTokenAuthentication": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      },
      "RefreshJSONWebTokenAuthentication": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Refresh-Token"
      }
    },
    "schemas": {
      "Meal": {
        "type": "object",
        "properties": {
          "date": {
            "description": "날짜",
            "type": "string",
            "example": "2019-09-26"
          },
          "breakfast": {
            "description": "아침",
            "type": "array",
            "example": [
              "현미밥",
              "참치김치찌개",
              "에그스크램블",
              "요구르트"
            ],
            "items": {
              "type": "string"
            }
          },
          "lunch": {
            "description": "점심",
            "type": "array",
            "example": [
              "현미밥",
              "참치김치찌개",
              "에그스크램블",
              "요구르트"
            ],
            "items": {
              "type": "string"
            }
          },
          "dinner": {
            "description": "저녁",
            "type": "array",
            "example": [
              "현미밥",
              "참치김치찌개",
              "에그스크램블",
              "요구르트"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
